body {
    background-color: #ff00bf13;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    background-color: #ff00bf;
    text-align: center;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}